video-player-container {
    width: 100%;
    height: 100vh;
    display: flex !important;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    align-content: baseline;
    background: #000000;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 20px;
}

video-player {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 48%;
    /* aspect-ratio: 16/9; */
    /* border: 2px solid rgb(161, 161, 161); */
    /* border-radius: 20px; */
}

.video_player_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #1c2833;
    margin: 0;
    padding: 0;
    gap: 10px;
    box-sizing: border-box;
}

.session-title {
    text-align: center;
    width: 100%;
    color: white;
    padding: 40px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.user-input {
    margin: 20px;
    width: calc(100% - 40px);
    max-width: 400px;
    min-width: 200px;
    box-sizing: border-box;
}

.video-container {
    width: 80%;
    height: 100%;

    span {
        color: white;
    }
}

.screen-share-container {
    position: relative;
    z-index: 999;
    top: 20px;
    left: 20px;
    width: 500px;
    height: 400px;

}

/* Call Buttons */
.call-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 40px;
}

.call-btn-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

#my-screen-share-content-video,
#users-screen-share-content-canvas {
    width: 100%;
    height: 100%;
}

.user-video-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 500px;
    height: 500px;
}

.username-tag {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
}

.participants {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}
.user-name-body {
    width: 150px;
    height: 150px;
    background-color: #08335a;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name {
    color: white;
    font-size: larger;
}

.no-one-shared-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-one-shared-screen > p {
    color: white;
}